#section-slide-works {
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background-color: #111;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    font-family: 'helvetica neue', helvetica, sans-serif;
    overflow: hidden;


    a {
        color: #fff;
        text-decoration: none;
    }

    .scroll {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(#fff, 0.5);
        font-family: 'font-2';
        font-size: calc(0.5rem + 0.35vw);
        z-index: 1000;
    }


    .slider {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &__text {
            font-family: var(--font-title);
            position: absolute;
            top: 50%;
            left: calc(3vw);
            z-index: 10;
            font-size: 3rem;
            transform-origin: top;
            color: #fff;
            font-weight: 500;
            max-width: 30vw;
            transform: translateY(-50%);

            @media (max-width: 767.98px) {
                bottom: 4rem;
                left: 0;
                width: 100%;
                text-align: center;
            }

            &-line {
                overflow: hidden;
            }

            .text {
                font-family: var(--font-text);
                font-size: 1rem;
                font-weight: 300;
                opacity: .5;
            }
        }

        &__inner {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            .overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: var(--black-color);
                z-index: 5;
                opacity: .8;
            }
        }

        &__nav {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 10;

            @media (max-width: 767.98px) {
                top: initial;
                bottom: 0;
                transform: translateX(-50%);
                left: 50%;
                display: flex;
                right: initial;
            }
        }

        &-bullet {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            @media (max-width: 767.98px) {
               flex-direction: column;
                padding: 1rem .5rem 0 .5rem;

            }

            &__text {
                color: #fff;
                font-size: 0.65rem;
                margin-right: 1rem;
                opacity: .25;


            @media (max-width: 767.98px) {
                margin-right: 0;
                margin-bottom: 1rem;
             }
            }

            &__container-line {
                height: 1px;
                width: 1rem;

                @media (max-width: 767.98px) {
                    transform: rotate(90deg);
                }
                &__line {
                    background-color: #fff;
                    height: 1px;
                    width: 100%;
                    transform: scaleX(0);
                    display: block;
    
                    @media (max-width: 767.98px) {}
                }

            }

          

        }

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    .slide {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 20;

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 35vw;
            top: 0;
            right: 0;
            bottom: 0;
        }

        &__img {
            position: relative;
            padding: 0;
            display: block;
            width: 55vw;
            /* Largeur définie */
            height: auto;
            /* Hauteur initialement définie à 0 */

            margin: 0;
            min-width: 12.5rem;
            transform-origin: top;

            // Large devices (desktops, less than 1200px)
            @media (max-width: 1199.98px) {
                width: 70vw;

            }

            @media (max-width: 767.98px) {
                width: 90vw;

            }

            // &:first-child {
            //     top: -1.5rem;
            // }

            // &:last-child {
            //     bottom: -1.5rem;
            // }

            img {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                transform: translateY(-50%);
                height: auto;
            }
        }
    }
}