#section-slide-works {
    height: 100svh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background-color: #111;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow: hidden;


    .scroll {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(#fff, 0.5);
        font-family: 'font-2';
        z-index: 1000;
    }


    .slider {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &__text {
            position: absolute;
            top: 6rem;
            left: calc(3vw);
            z-index: 10;
            transform-origin: top;
            width: 30vw;
            max-width: 500px;
            height: calc(100% - 6rem);
            display: flex;
            flex-direction: column;
            justify-content: center;

            // @media (max-width: 991.98px) {
            //     top: 3rem;

            //     left: 5vw;
            //     right: 5vw;
            //     text-align: center;
            //     height: 40vh;
            //     width: 100%;
            //     max-width: 90vw;
            // font-size: 10vw;

            // }

            // @media (max-width: 575.98px) {
            //     // top: 3rem;
            //     // top: 6vh;
            //     top: initial;
            //     bottom: 40vh;

            // }


            @media (max-width: 991.98px) {
                width: 100%;
                max-width: 70vw;
                position: relative;
                top: initial;
                left: initial;
                width: 100%;
                // font-size: 7vw;
                height: initial;
            }


            @media (max-width: 767.98px) {
                max-width: 90vw;
                // font-size: 10vw;
            }


            &-line {
                overflow: hidden;
            }

            .name {
                font-family: var(--font-title);
                color: #fff;
                font-size: min(3vw, 3rem);
                font-weight: 500;

                @media (max-width: 991.98px) {
                    font-size: 6vw;
                }

                @media (max-width: 767.98px) {
                    font-size: 8vw;
                }
            }

            .tags {
                font-family: var(--font-text);
                font-size: 1rem;
                font-weight: 300;
                opacity: .7;
                padding-top: var(--s-sizing);

            }

            .link {
                padding-top: var(--l-sizing);
            }
        }

        &__inner {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            .overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: var(--black-color);
                z-index: 5;
                opacity: .8;
            }
        }

        &__nav {
            position: absolute;
            top: 6rem;
            right: 0;
            height: calc(100% - 6rem);
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 991.98px) {
                top: initial;
                bottom: 0;
                transform: translateX(-50%);
                left: 50%;
                right: initial;
                height: initial;
                flex-direction: row;
            }
        }

        &-bullet {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            @media (max-width: 991.98px) {
                flex-direction: column;
                padding: 1rem .5rem 0 .5rem;

            }

            &__text {
                color: #fff;
                font-size: 0.65rem;
                margin-right: 1rem;
                opacity: .25;


                @media (max-width: 991.98px) {
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }

            &__container-line {
                height: 1px;
                width: 1rem;

                @media (max-width: 991.98px) {
                    transform: rotate(90deg);
                }

                &__line {
                    background-color: #fff;
                    height: 1px;
                    width: 100%;
                    transform: scaleX(0);
                    display: block;

                    @media (max-width: 991.98px) {}
                }

            }



        }

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    .slide {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 20;
        pointer-events: none;

        @media (max-width: 991.98px) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-top: 4rem;
            padding-bottom: 2rem;

        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            // left: 35vw;
            top: 6rem;
            right: 5rem;
            bottom: 0;
            

            @media (max-width: 991.98px) {
                position: relative;
                left: initial;
                top: initial;
                right: initial;
                bottom: initial;
                margin-top: var(--xl-sizing);
            }

            // @media (max-width: 991.98px) {
            //     left: 0;
            //     height: 50vh;
            //     // top: initial;
            //     // bottom: 7rem;
            //     top: 40vh;

            // }
            // @media (max-width: 575.98px) {
            //     // bottom: 2rem;
            //     // bottom: 4vh;
            //     bottom: initial;
            //     top: 35vh;

            // }


        }

        &__img {
            position: relative;
            padding: 0;
            display: block;
            width: 50vw;
            /* Largeur définie */
            height: auto;
            /* Hauteur initialement définie à 0 */

            margin: 0;
            min-width: 12.5rem;
            transform-origin: top;

            // Large devices (desktops, less than 1200px)

            @media (max-width: 991.98px) {
                width: 70vw;

            }

            @media (max-width: 767.98px) {
                width: 90vw;

            }



            @media (hover: hover) {
                img {
                    filter: brightness(70%) contrast(110%);

                }

                &:hover {

                    img {
                        filter: brightness(90%) contrast(110%);

                        transform: translateY(-50%) scale(.98);

                        @media (max-width: 991.98px) {
                            transform: scale(.98);
                        }
                    }
                }
            }

            // &:first-child {
            //     top: -1.5rem;
            // }

            // &:last-child {
            //     bottom: -1.5rem;
            // }

            img {
                pointer-events: all;

                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                transform: translateY(-50%) scale(1);
                height: auto;
                transition: all .8s;

                @media (max-width: 991.98px) {
                    position: relative;
                    left: initial;
                    top: initial;
                    right: initial;
                    bottom: initial;
                    transform: scale(1);

                }

            }
        }
    }
}