.wrapper-scroll-info {
  position: absolute;
  bottom: 3vw;
  left: 3vw;

  @media (max-width: 767.98px) {
    display: none;
  }

  .badge-scroll {
    animation: rotatingFlower 15s linear infinite;
    width: 80px;
    height: 80px;

   

    text {
      fill: white;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 200;
    }

    .svg-flower {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: auto;
    }
  }
}