#header {
    mix-blend-mode: difference;
    padding-top: max(20px, 3vw);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    opacity: 1;
    // transition: opacity .45s linear;
    // -webkit-transition: -webkit-opacity .45s linear;
    // -moz-transition: opacity .45s linear;
    // -o-transition: opacity .45s linear;
    will-change: opacity;
    /* Indique que l'opacité de l'élément va changer */

    &.scrolling-down {
        opacity: 0;
    }

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: start;




        // ========== Logo ==========

        #wrapper-logo {}

        #logo {
            stroke: var(--white-color);
            height: 50px;
            display: block;

            .st0 {
                fill: none;
                stroke-width: 11;
                stroke-miterlimit: 10;
            }

            .st1 {
                fill: none;
                stroke-width: 7;
                stroke-miterlimit: 10;
            }
        }

        // ========== Nav ==========

        nav {
            // @media (max-width: 767.98px) {
            //     display: none;
            // }
            display: flex;


            .nav-link {
                font-size: 1rem;
                text-transform: uppercase;
                margin-left: 2rem;
                color: var(--white-color);

                opacity: .8;
                transition: all .1s;

                &.active {
                    opacity: 1;

                }

                @media (hover: hover) {
                    &:hover {
                        opacity: 1;

                    }
                }

                display: flex;
                align-items: center;
            }



        }

        // ========== Burger ==========

        .burger {
            display: inline-flex;
            outline: none;
            border: 0;
            background: transparent;
            transition: all .5s ease-out;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 21;
            right: 0;
            width: 6.93vw;
            height: 5.33vw;
            padding: 27px;
            display: none;

            @media (max-width: 767.98px) {
                display: block;
            }



            &::before,
            &::after {
                content: "";
                position: absolute;
                background: #fff;
                transition: all .5s cubic-bezier(.19, 1, .22, 1);
                top: 50%;
                right: 0;
                width: 6.93vw;
                height: 0.27vw;
            }

            &::after {
                transform: translate3d(0, 0.7vw, 0) rotate(0deg);
            }

            &::before {
                transform: translate3d(0, -0.7vw, 0) rotate(0deg);
            }

            // ========== Burger open ==========

            &.open {
                &::after {
                    transform: translateZ(0) rotate(-45deg);
                }

                &::before {
                    transform: translateZ(0) rotate(45deg);
                }
            }
        }
    }

    // ========== Nav mobile ==========
}

// ========== Nav ==========

.nav-mobile {

    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: var(--black-color);
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: max(20px, 3vw);
    padding-right: max(20px, 3vw);
    padding-top: 6rem;
    padding-bottom: 6rem;
    transform: translateX(-100%);
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;



    .nav-link {
        font-size: 2.5rem;
        color: var(--white-color);
        transition: all .1s;
        font-weight: 300;
        margin: 1.2rem 0;
        display: inline-block;

        &.active {
            color: var(--white-color);
        }

        &.mail {
            font-size: 1.2rem;
            text-transform: none;
            display: flex;
            align-items: center;
            margin-top: var(--xl-sizing);

            svg {
                margin-right: .5rem;
            }
        }


    }



}