.section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    overflow: hidden;

    @media (max-width: 767.98px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .svg-flower {
        transform: rotate(calc(var(--progress) * 100deg));
        height: 7vw;
        margin-bottom: 1rem;

        width: auto;
        margin-left: auto;
        display: block;

        @media (max-width: 767.98px) {
            height: 50px;
        }
    }

    .wrapper-h2 {
        display: flex;
        justify-content: center;
    }

    h2 {
        // Redéfinir pregress par rapport au centre de l'écran
        --progress-origin-center: calc(var(--progress) - .5);

        font-size: max(3.5rem, 10vw);
        transform:  translate3d(calc((-30vw * var(--progress-origin-center) )), 0, 0);
        white-space: nowrap;
        position: relative;


        span {
            margin-left: 1vw;
            margin-right: 1vw;

            @media (max-width: 767.98px) {
                margin-left: 2vw;
                margin-right: 2vw;
            }
           
            &.text-grey {
                opacity: .1;
            }
        }
    }

    .content-section {
        margin-top: var(--xxl-sizing);
    }
}