#footer {
    z-index: 10;
    position: relative;
    pointer-events: none;
    height: 100vh;

    .content-footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        .contact-footer {
            border-bottom: 1px solid var(--grey-color);
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;

            .title {
                .svg-flower {
                    width: 30px;
                    height: auto;
                    animation: rotatingFlower 15s linear infinite;
                }

                h2 {
                    font-family: var(--font-text);
                }
            }

            .mail {
                margin-top: var(--xl-sizing);
                font-family: var(--font-title);
                color: var(--white);
                font-size: 7vw;
                pointer-events: all;
                @media (max-width: 767.98px) {
                    margin-top: var(--l-sizing);

                }
            }
        }

        .credits {
            text-align: center;
            padding: 2rem 0;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}