@import 'variables';

// ========== Variables ==========

:root {
    --white-color: #{$white};
    --black-color: #{$black};
    --grey-color : #{$grey};

    --xs-sizing : #{$xs-sizing};
    --s-sizing : #{$s-sizing};
    --m-sizing : #{$m-sizing};
    --l-sizing : #{$l-sizing};
    --xl-sizing : #{$xl-sizing};
    --xxl-sizing : #{$xxl-sizing};
    --xxxl-sizing : #{$xxxl-sizing};
    --xxxxl-sizing : #{$xxxxl-sizing};


    --font-title: "Ginger", serif;
    --font-text: "DM Sans", sans-serif;

    --border-radius-image : #{$border-radius-image};
}



// ========== Font face ==========

@font-face {
    font-family: 'Ginger';
    src: url('./assets/fonts/ginger-modern-stylish-font/Ginger.woff') format('woff'),
        url('./assets/fonts/ginger-modern-stylish-font/Ginger.ttf') format('truetype'),
        url('./assets/fonts/ginger-modern-stylish-font/Ginger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// ========== Reset ==========

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    // cursor: none;

    // * {
    //     cursor: none !important;

    // }
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.disable-transitions {
    * {
        transition: none !important;
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--black-color);
    background: var(--white-color);
}

::selection {
    color: var(--black-color);
    background: var(--white-color);
}

// ========== Scroll bar ==========

html {

    scrollbar-width: none;
    /* thin, auto, or none */
}

body::-webkit-scrollbar {
    width: 0;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-width: none;
        /* thin, auto, or none */
    }
}



// ========== Global ==========

body {
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--font-text);
}

section,
footer {
    z-index: 10;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    font-weight: 400;
    text-wrap: pretty;
}

p {
    text-wrap: pretty;
    line-height: 1.8;
    font-size: 1.1rem;

    @media (max-width: 1199.98px) {
        font-size: 1.1rem;
    }

    @media (max-width: 991.98px) {
        font-size: 1rem;
    }



}

.intro {
    font-size: 1.7rem;
    font-weight: 200;

    @media (max-width: 575.98px) {
        font-size: 1.2rem;
    }

    &.intro--small {
        font-size: 1.5rem;
        font-weight: 300;

        @media (max-width: 575.98px) {
            font-size: 1.2rem;
        }
    }
}

.container {
    padding-left: max(20px, 3vw);
    padding-right: max(20px, 3vw);
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

.divider-gradient {
    background: var(--black-color);
    background: linear-gradient(0deg, var(--black-color) 0%, rgba(10, 10, 10, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.letter {
    display: inline-block;
    transform: translateY(200px);
}

// ========== Page Transition ==========
// .slide-in {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform-origin: bottom;
// }

// .slide-out {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform-origin: top;
// }

.page-transition {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100lvh + 50px);
    z-index: 10000;
}


// ========== Animations ==========

@keyframes rotatingFlower {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#container-blob {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
}

// #toggle-theme-button.svg-flower {
//     position: fixed;
//     right: 2.5vw;
//     bottom: 2.5vw;
//     width: 30px;
//     height: auto;
//     z-index: 100;
//     mix-blend-mode: difference;
// }