@import 'variables';

// ========== Variables ==========

:root{
    --white-color: #{$white};
    --black-color: #{$black};
    --grey-color : #{$grey};

    --xs-sizing : #{$xs-sizing};
    --s-sizing : #{$s-sizing};
    --m-sizing : #{$m-sizing};
    --l-sizing : #{$l-sizing};
    --xl-sizing : #{$xl-sizing};
    --xxl-sizing : #{$xxl-sizing};

    --font-title : "Ginger", serif;
    --font-text : "DM Sans", sans-serif;
}

// ========== Font face ==========

@font-face {
    font-family: 'Ginger';
    src: url('./assets/fonts/ginger-modern-stylish-font/Ginger.woff') format('woff'),
         url('./assets/fonts/ginger-modern-stylish-font/Ginger.ttf') format('truetype'),
         url('./assets/fonts/ginger-modern-stylish-font/Ginger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// ========== Reset ==========

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// ========== Global ==========

body{
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: 400;
}


.container {
    padding-left: max(20px, 3vw);
    padding-right: max(20px, 3vw);
}
