@import 'variables';

// ========== Variables ==========

:root {
    --white-color: #{$white};
    --black-color: #{$black};
    --grey-color : #{$grey};

    --xs-sizing : #{$xs-sizing};
    --s-sizing : #{$s-sizing};
    --m-sizing : #{$m-sizing};
    --l-sizing : #{$l-sizing};
    --xl-sizing : #{$xl-sizing};
    --xxl-sizing : #{$xxl-sizing};
    --xxxl-sizing : #{$xxxl-sizing};
    --xxxxl-sizing : #{$xxxxl-sizing};


    --font-title: "Ginger", serif;
    --font-text: "DM Sans", sans-serif;

    --border-radius-image : #{$border-radius-image};
}


html {
    cursor: none;

    * {
        cursor: none !important;

    }
}

// ========== Font face ==========

@font-face {
    font-family: 'Ginger';
    src: url('./assets/fonts/ginger-modern-stylish-font/Ginger.woff') format('woff'),
        url('./assets/fonts/ginger-modern-stylish-font/Ginger.ttf') format('truetype'),
        url('./assets/fonts/ginger-modern-stylish-font/Ginger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// ========== Reset ==========

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// ========== Global ==========

body {
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    font-weight: 400;
}

p {

    line-height: 1.8;

    @media (max-width: 991.98px) {
        line-height: 1.6;
    }

    @media (max-width: 575.98px) {
        line-height: 1.4;
    }

    &.intro {
        font-size: min(2.2vw, 2.2rem);
        font-weight: 200;
        margin-bottom: var(--l-sizing);

        @media (max-width: 991.98px) {
            font-size: 2rem;
        }

        @media (max-width: 575.98px) {
            font-size: 1.5rem;
        }
    }
}

.container {
    padding-left: max(20px, 3vw);
    padding-right: max(20px, 3vw);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

// ========== Page Transition ==========
.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
}

.page-transition {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}


// ========== Animations ==========

@keyframes rotatingFlower {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#container-blob {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // TODO enlever pour le hover ??
    z-index: -100;
}