#section-hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--grey-color);

    @media (max-width: 767.98px) {
        height: 70vh;
    }

    h1 {
        text-align: center;
        font-size: min(10vw, 13rem);

        span {
            display: block;

            &.name {
                font-family: "DM sans";
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 2rem;
            }
        }
    }

    .wrapper-scroll-info {
        position: absolute;
        bottom: 3vw;
        left: 3vw;
    }
}