// ========== Section Hero ==========

#section-hero {
    height: 100svh;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid var(--grey-color);
    overflow: hidden;
    position: relative;

    .content {

        max-width: 47rem;

        h1 {
            text-align: left;
            font-size: 6rem;

            @media (max-width: 991.98px) {
                font-size: 4rem;

            }


            @media (max-width: 767.98px) {
                font-size: 11vw;
            }

            @media (max-width: 575.98px) {
                font-size: 11vw;
            }

            span {
                display: block;

                &.name {
                    font-family: "DM sans";
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }
            }
        }

        .intro {
            font-size: 1.75rem;
            margin-top: var(--l-sizing);

            @media (max-width: 991.98px) {
                font-size: 1.5rem;


            }

        }


    }

    .wrapper-scroll-info {
        position: absolute;
        bottom: 3vw;
        right: 3vw;
        left: initial;

        @media (max-width: 767.98px) {
            display: block;
        }

        @media (max-width: 575.98px) {
           right: 50%;
           bottom: 10vw;
           transform:translateX(50%);
        }
    }


    .divider-gradient {
        background: var(--black-color);
        background: linear-gradient(0deg, var(--black-color) 0%, var(--black-color) 8%, rgba(10, 10, 10, 0) 93%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }

}

// ========== Section about ==========

#about {
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .left,
        .right {}

        .left {
            width: 50%;
            max-width: 700px;

            @media (max-width: 991.98px) {
                width: 100%;
            }

            .button {
                margin-top: var(--xl-sizing);

            }
        }

        .right {
            width: 45%;
            padding-left: 2rem;
            height: 38vw;
            position: relative;

            @media (max-width: 991.98px) {
                width: 100%;
                margin-top: var(--xl-sizing);
                height: 87vw;
            }

            .image {
                position: absolute;
                width: 53%;

                img {
                    border-radius: var(--border-radius-image);
                }
            }

            .image-1 {
                top: 3vw;
                left: 0;
            }

            .image-2 {
                right: 0;
                top: 10vw;

                @media (max-width: 991.98px) {
                    top: 21vw;
                }
            }

            .image-3 {
                left: 20%;
                top: 19vw;

                @media (max-width: 991.98px) {
                    top: 37vw;
                }
            }
        }
    }
}

// ========== Section project ==========

#projects {
    .list-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;



        .project {
            display: block;
            opacity: .7;
            transition: all 2s cubic-bezier(.19, 1, .22, 1);
            filter: brightness(70%) contrast(110%);

            // Disable parallax mobile
            @media (max-width: 991.98px) {
                transform: none !important;
                width: 100% !important;

            }

            .container-image {
                overflow: hidden;
                border-radius: var(--border-radius-image);


                img {
                    transition: transform 2s cubic-bezier(.19, 1, .22, 1);
                    display: block;
                }
            }

            @media (hover: hover) {
                &:hover {
                    opacity: 1;

                    img {
                        transform: scale(1.05);
                    }
                }
            }


            &.project-1 {
                width: 50%;
            }

            &.project-2 {
                width: 40%;

                @media (max-width: 991.98px) {
                    margin-top: var(--xxl-sizing);
                }
                
                @media (max-width: 767.98px) {
                    margin-top: var(--xl-sizing);
                }

            }

            &.project-3 {
                width: 40%;
                margin-top: var(--xxxl-sizing);
                @media (max-width: 991.98px) {
                    margin-top: var(--xxl-sizing);
                }
                
                @media (max-width: 767.98px) {
                    margin-top: var(--xl-sizing);
                }
            }

            &.project-4 {
                width: 50%;
                margin-top: var(--xxxl-sizing);
                @media (max-width: 991.98px) {
                    margin-top: var(--xxl-sizing);
                }
                
                @media (max-width: 767.98px) {
                    margin-top: var(--xl-sizing);
                }


            }




            .link-project {
                width: 100%;
                height: 100%;
                display: block;

                .name {
                    font-family: var(--font-text);
                    font-weight: 400;
                    font-size: 1rem;
                    margin-top: var(--s-sizing);
                    color: var(--white-color);

                    @media (max-width: 991.98px) {
                        font-size: 2rem;

                    }
                }

                .tags {
                    font-size: .8rem;
                    color: var(--grey-color);
                }

                .list-tag {
                    margin-top: var(--s-sizing);
                }


                // canvas, img {
                //     filter: brightness(80%) contrast(110%);
                //     transition: all .5s;
                //     border-radius: var(--border-radius-image);
                // }
            }
        }
    }
}

// ========== Section services ==========

#services-section {

    .list-services {
        margin-top: var(--xxl-sizing);

        .service-item {
            border-bottom: 1px solid var(--grey-color);


            &:first-of-type {
                border-top: 1px solid var(--grey-color);
            }

            .name {
                padding: 3rem 0;
                background-color: transparent;
                color: var(--white-color);
                cursor: pointer;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 2rem;
                font-weight: 300;
                transition: 0.4s;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 767.98px) {
                    font-size: 1.5rem;
                    padding: 2rem 0;

                }

                @media (hover: hover) {
                    &:hover {
                        padding-left: 20px
                    }
                }

                svg {
                    width: 40px;
                    height: auto;
                }

                .active,
                .accordion:hover {}
            }

            .panel {
                overflow: hidden;
                transition: max-height 0.5s ease-in-out;

                .content-panel {
                    padding-bottom: 3rem;
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    flex-wrap: wrap;

                }

                .description {
                    width: 35%;

                    @media (max-width: 1199.98px) {
                        width: 100%;
                        margin-bottom: var(--m-sizing);

                    }
                }

                .list-tag {
                    width: 40%;

                    @media (max-width: 1199.98px) {
                        width: 100%;
                        margin-bottom: var(--l-sizing);

                    }
                }

            }

        }
    }
}

#banner-home {
    background-color: var(--black-color);
    padding-top: var(--xxxl-sizing);
    padding-bottom: var(--xxxxl-sizing);
}