#section-hero {
    height: 100vh;
    display: flex;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 13vw;

        span {
            display: block;

            &.name {
                font-family: "DM sans";
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 2rem;
            }
        }
    }
}