#section-hero-project {
    padding-top: var(--xxxl-sizing);
    padding-bottom: var(--xxl-sizing);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background-color: var(--black-color);
    min-height: 100svh;
    height: 100svh;

    @media (max-width: 991.98px) {
        padding-top: var(--xxl-sizing);
    }

    @media (max-width: 575.98px) {

        padding-bottom: var(--xxl-sizing);
    }

    .overlay {
        background-size: cover;
        background-position: center;
        z-index: 1;
        // filter: brightness(25%) contrast(105%);

        &,
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        &::before {
            background-color: var(--black-color);
            opacity: .8;
        }
    }

    .content {
        z-index: 2;

        .info-project {

            max-width: 50rem;

            h1 {
                font-size: 5rem;
                overflow: hidden;


                @media (max-width: 991.98px) {
                    font-size: 5rem;
                }

                @media (max-width: 767.98px) {
                    font-size: 3.75rem;
                }

                @media (max-width: 575.98px) {
                    font-size: 10vw;
                }
            }

            .description {
                margin-top: var(--l-sizing);
                opacity: .6;
                max-width: 30rem;
                font-size: .9rem;
                line-height: 1.4;
                font-weight: 300;

                @media (max-width: 575.98px) {
                    margin-top: var(--s-sizing);

                }

            }

            .custom-link {
                margin-top: var(--l-sizing);

                @media (max-width: 575.98px) {
                    margin-top: var(--m-sizing);

                }
            }


            .list-info {
                margin-top: var(--xxl-sizing);

                @media (max-width: 575.98px) {
                    margin-top: var(--xl-sizing);

                }

                .info {

                    margin-top: var(--m-sizing);


                    .name-info {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: .9rem;
                        color: var(--white-color);
                    }

                    .data-info {
                        opacity: .6;
                        font-size: .9rem;
                        max-width: 30rem;
                    }
                }
            }
        }
    }
}


#section-list-images {

    .list-images {
        margin-top: var(--xl-sizing);

    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 65vw;

        @media (max-width: 991.98px) {
            max-width: 100%;
        }

        &:not(:first-of-type) {
            margin-top: var(--s-sizing);
        }
    }

}


#section-next-project {
    background-color: var(--black-color);
    padding-top: var(--xl-sizing);
    z-index: 10;
    position: relative;

    .parallax-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        /* ou la hauteur désirée */

        @media (max-width: 991.98px) {
            height: 600px;
        }

        @media (max-width: 575.98px) {
            height: 400px;
        }

        .parallax-image {
            width: 120%;
            height: 120%;
            /* Assurez-vous que l'image couvre la hauteur du conteneur */
            object-fit: cover;
            /* Cette propriété est clé pour couvrir l'espace sans perdre les proportions */
            position: absolute;
            top: -15%;
        }
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 15;
        background-color: var(--black-color);
        opacity: .8;
        transition: all .5s;

    }

    .content-section {
        z-index: 20;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        .name {
            font-family: var(--font-title);
            color: var(--white-color);
            font-size: min(10vw, 10rem);
        }

        .text {
            color: var(--white-color);
            margin-top: var(--l-sizing);

        }
    }

    @media (hover: hover) {
        &:hover {

            .parallax-image {
                transform: scale(1.4);
            }

            .overlay {
                opacity: .85;
            }

        }
    }
}