.list-tag {
    margin: -5px;
    margin-top: var(--s-sizing);
    display: flex;
    flex-wrap: wrap;

    li {
        display: inline-block;
        margin: 5px;

        .tag {
            color: var(--white-color);
            border: 1px solid var(--white-color);
            padding: .5rem 1rem;
            display: inline-block;
            border-radius: 2rem;
        }

    }
}